.mytag{
    color:yellow;
    border:2px;
    border-style: solid;
    border-color: black;
    background-color: red;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}